<template>

  <div id="app">
    <router-link to="/"></router-link>
  <router-view class="content"> </router-view>
  <Footer></Footer>
  </div>

</template>


<script>
import Footer from "./components/Footer";
export default {
  name: 'App',

  components: {
    Footer
  },
}
</script>



<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: grey;
}
.header + .content {
  padding: 50px;
}
</style>
