<template class="main">
  <div>
    <div class="logo-container">
      <span class="logo">INTERSE</span>
    </div>
    <button v-on:click="getInternships" >
      Show internships
    </button>
    <button v-on:click="hideInternships">
      Hide internships
    </button>
    <div class="internship-container">
      <ul v-if="internships.length !== 0">
        <li v-for="internship in internships" :key="internship.id">
          {{ internship }}
        </li>
      </ul>
    </div>
    <div class="create-post">
      <form v-on:submit="postInternship">
        <label for="company_name">Company name :</label>
        <input type="text" id="company_name" required v-model="internship.company_name"><br><br>

        <label for="position">Position :</label>
        <input type="text" id="position" required v-model="internship.position"><br><br>

        <label for="deadline"> Deadline (e.g. "2020-01-13") :</label>
        <input type="text" id="deadline" v-model="internship.deadline"><br><br>

        <label for="location"> Location :</label>
        <input type="text" id="location" v-model="internship.location"><br><br>

        <label for="internship_url"> Internship URL :</label>
        <input type="text" id="internship_url" v-model="internship.internship_url"><br><br>

        <label for="description"> Description :</label>
        <input type="text" id="description" v-model="internship.description"><br><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      internships: [],
      internship: {
        id: null,
        company_name: "",
        position: "",
        deadline: "",
        post_date: "",
        internship_url: "",
        description: "",
        location: ""
      }
    }
  },
  components: {},
  methods: {
    getInternships: function () {
      axios
          .get('http://localhost:8080/api/garage48/internship')
          .then(response => (this.internships = response.data))
          .catch(e => {
            console.log(e)
          });
    },
    hideInternships: function () {
      this.internships = [];
    },
    postInternship: function () {
      this.internships = [this.internship]
      axios
          .post('http://localhost:8080/api/garage48/internship', this.internship)
          .catch(e => {
            console.log(e)
          });
    }
  },
}
</script>

<style>
.logo-container {
  background-color: #4c51c2;
  padding: 25px;
}

.logo {
  color: #C7C8B7;
  height: 100%;
  font-size: 35px;
}

button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: black;
}

button:hover {
  background-color: #4c51c2; /* Green */
  color: white;
}

.create-post {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}


</style>
